.commonNavbar {
  background: #111827;
  height: 64px;
  flex-shrink: 0;
}

.user-navbar > h6 {
  cursor: pointer;
}

.commonNavbar-image img {
  position: relative;
  right: 60px;
}

.commonNavbar-right a {
  color: #fff;
  font-family: "Noto Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 12px;
}
.commonNavbar-right img {
  margin-left: 20px;
  position: absolute;
  top: 35%;
}

.user-home-nav-drop {
  background-color: #111827;
  color: white;
  padding: 5px 20px 22px 20px;
  z-index: 100;
  width: 170px;
  right: -6px;
  top: 20px;
  border-radius: 10px;
}
.user-home-nav-drop-down {
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 7px;
  margin-top: 5px;
  font-size: 13px;
  cursor: pointer;
}
