@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.userHomeTable-body {
    width: 100%;
    min-height: 110vh;
    background-color: #1F2937;
}

.userHomeTable-left-box img {
    margin-top: 5%;
    margin-left: 20%;
}

.userHomeTable-left-inner-box {
    height: 50%;
    width: 90%;
    border-radius: 15px;
    background: #374151;
    margin-left: 12%;
}

.userHomeTable-right-inner-box {
    height: 97%;
    width: 88%;
    border-radius: 15px;
    background: #374151;
    margin-left: 10%;
    margin-top: 10%;

}

.userHomeTable-left-inner-box h3 {
    color: #FFF;
    font-family: "Noto Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    padding-left: 10%;
    padding-top: 3%;
}

.userHomeTable-left-inner-box li {
    color: #FFF;

    font-family: "Noto Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: none;
    padding-top: 3%;
    padding-left: 10%;
}

.userHomeTable-viewMore {
    text-decoration: underline;
    font-size: 17px;

}

.userHomeTable-right-inner-box h3 {
    color: #FFF;
    font-family: "Noto Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    padding-left: 7%;
    padding-top: 7%;
}
.userHomeTable-right-inner-box table
{
width: 95%;
height: 80%;
position: relative;
right: 9%;
margin-top: 7%;
}
.userHomeTable-right-inner-box th
{
    color: #A4A0A0;
    font-family: "Noto Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
}
.userHome-Table-td-color
{
    color: #5FFD51;

font-family: "Noto Sans";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}