.adminNavbar{
    width: 100%;
    background: #111827;
}
.navlogo img{
    margin-top: -12px;
    margin-left: 10px;
}
.adminlogo img{
    width: 15.818px;
height: 15.818px;
margin-top: 10px;
}
.adminlogo button{
    color: #B6B5B5;
font-size: 15.818px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 3px;
}
.adminlogo button:hover{
    color: #fff ;
}