/* adminSidebar */

.adminSidebar{
    width: 100%;
    height: 1003px;
    background-color:#1F2937;
}
.adminSidebar-gif{
    width: 100%;
    height: 37px;
}
.adminSidebar-gif img{
    width: 100%;
    height: 37px;
    position: absolute;
    top: 64px;
}
.adminSidebar-main{
    width:307px;
    height: 1003px;
    background: #374151;
}
.adminSidebar-title-head{
width: 307px;
height: 107px;
padding: 30px 20px;
}
.adminSidebar-content{
    width: 307px;
    height: 800px;
    /* text-align: center; */
    color: #fff;

}
.adminSidebar-grid{
    width: 307px;
    height: 40px;
    background-color: #fff;
}
.adminSidebar-user{
    display: flex;
    padding-bottom: 20px;
}
.adminSidebar-user img{
    width: 18px;
    height: 18px;
    position: relative;
    left: 57px;
   
}
.adminSidebar-user h4{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 70px;
    top: 3px;
}
.adminSidebar-compaines{
    display: flex;
    padding-bottom: 20px;
}
.adminSidebar-compaines img{
    width: 18px;
    height: 18px;
    position: relative;
    left: 57px;
}
.adminSidebar-compaines h4{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 70px;
    top: 3px;
}
.content-2{
    margin-top: 2px;
    margin-left: 40px;
    background-color:#374151 !important;  
    border: none;
}