.UserDashDefaultPage-main {
  background: #1f2937;
  width: 100%;
  height: 90vh;
}
.UserDashDefaultPage-img {
  justify-content: center;
  text-align: center;
}
.UserDashDefaultPage-img img {
  margin-top: 5%;
  width: 30%;
}
.UserDashDefaultPage-head {
  font-weight: bolder;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
}
