@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.etlogin-background {
  width: 100%;
  height: 100vh;
  background-color: #1f2937;
}

.etlogin-box {
  width: 662px;
  height: 445px;
  margin-top: 50px;
  background-color: black;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.etlogin-heading {
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: normal;
  text-align: center;
  margin-top: 40px;
}

.etlogin-logo img {
  width: 194px;
  height: 187px;
  flex-shrink: 0;
  margin-left: 50px;
}

.etlogin-inputs {
  width: 300px;
  height: 300px;
  margin-top: 30px;
  color: #fff;
}

.etlogin-inner input {
  width: 292px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 15px;
}

.etlogin-inner label {
  color: #fff;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.etlogin-inner ::placeholder {
  padding-left: 5px;
  color: #929292;
  font-family: "Noto Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-button {
  margin-left: 100px;
  margin-top: 10px;
  border-radius: 10px;
  color: #fff;
  font-family: "noto sans";
  display: flex;
  width: 124px;
  height: 34px;
  padding: 6px 20px 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: linear-gradient(109deg, #cacaca 7.86%, #787373 94.87%);
}
.forgot-password{
    margin-left: 50%;
    color: #5CB4E3;
text-align: center;
font-family: "Noto Sans";
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.register-now {
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
