.commonNavbar {
    background: #111827;
    height: 64px;
    flex-shrink: 0;
}

.commonNavbar-image img {
    position: relative;
    top: -14px;
    right: 60px;
}

.commonNavbar-right a {
    display: inline;
    padding-left: 10px;
    margin-right: 30px;
    text-decoration: none;
    color: #FFF;
    font-family: "Noto Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right-btn button {
    display: inline-flex;
    height: 26px;
    padding: 6px 20px 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(109deg, #CACACA 7.86%, #787373 94.87%);
}