@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.userHomePart2-body {
    background-color: #374151;
    width: 100%;
}

.userHomePart2-body img {
    margin-right: 20%;
    padding-top: 22px;
    padding-bottom: 23px;
}

.userHomePart2-body h2 {
    color: #FFF;
    font-family: "Noto Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.userHomePart2-body p {
    color: #FFF;
    font-family: "Noto Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}

.userHomePart2-left-inner-box {
    width: 80%;
    height: 60%;
    margin-top: 10%;
    margin-left: 12%;
    word-spacing:3px;
}