@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.companyRequest-body {
    height: 100vh;
    width: 100%;
    background-color: black;
    font-family: inter;
}

.companyRequest-heading {
    width: 100%;
    height: 9%;
    background: #374151;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: #FFF;
    font-family: Inter;
    font-size: 25.43px;
    padding-top: 1%;
    font-weight: 400;
}

.companyRequest-details {
    width: 223px;
    height: 291px;
    border-radius: 15px;
    background: #374151;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 3%;
    margin-top: 3%;
}

.companyRequest-innerbox1 {
    display: flex;
}

.companyRequest-logo {
    margin-top: 5%;
    margin-left: 5%;
}

.companyRequest-subheading {
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    margin-top: 9.5%;
    margin-left: 7%;
}

.companyRequest-table {
    margin-top: 2%;
    height: 150px;
    width: 190px;
    margin-left: 8%;
}

.companyRequest-table td {
    color: #FFF;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}

.companyRewquest-viewmore {
    margin-left: 70px;
    margin-top: 20px;
    color: #4F8CEF;
    text-decoration: underline;
}

.companyRequest-data {
    padding-left: 10px;
}

.companyrequest-enterpage {
    width: 234px;
    height: 32px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #515151;
    background: #1F2937;
    margin-top: 20px;
    margin-left: 50px;
    color: #ECECEC;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.companyRequest-entries {
    margin-left: 5%;
    margin-top: 2%;

}

.companyRequesest-second-box {
    display: flex;
}

.companyRequet-dropdown {
    border-radius: 0px 15px 15px 0px;
    height: 32px;
    width: 60px;
    margin-top: 20.3px;
    border-color: #1F2937;
    color: #FFF;
    background-color:#515151;
}
.companyRequet-dropdown select
{
 color: #FFF;
}


