.companyViewArticle-main {
  width: 100%;
  background: hsl(215, 28%, 17%);
  padding: 3%;
}
.companyViewArticle-head {
  color: #fff;
  font-size: 23px;
}
.companyViewArticle-video iframe {
  border-radius: 10px;
  margin: auto;
}
.companyViewArticle-description {
  border-radius: 20px;
  margin-top: 20px;
  width: 100%;
  margin: auto;
  padding: 10px 5%;
  overflow: auto;
  padding-bottom: 10px;
  /* background: linear-gradient(145deg, #1c2532, #212c3b); */
  box-shadow: 33px 33px 66px #1a232f, -33px -33px 66px #242f3f;
}
#etViewVideoTable {
  margin: auto;
  width: 100%;
}
.companyViewArticle-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.companyViewArticle-btn button {
  width: 100px;
}
