@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.etForgotpassword{
    width: 100%;
    height: 100vh;
  background-color: #1f2937;
  padding-top: 5%;
}
.etForgotpassword-backbtn{
    font-size: 25px;
    color: #FFF;
}
.etForgotpassword-box {
    width: 662px;
    height: 445px;
    background-color: black;
    border-radius: 30px;
    padding-top: 1%;
    margin: auto;
}

.etForgotpassword-heading {
    color: #FFF;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: normal;
    text-align: center;
    margin-top: 40px;
}

.etForgotpassword-logo img {
    width: 194px;
    height: 187px;
    flex-shrink: 0;
    margin-left: 50px;
}

.etForgotpassword-inputs {
    width: 300px;
    height: 300px;
    margin-top: 30px;
    color: #FFF;
}

.etForgotpassword-inner input {
    width: 292px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 15px;
}

.etForgotpassword-inner label {
    color: #FFF;
    font-family: "Noto Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.etForgotpassword-inner ::placeholder {
    padding-left: 5px;
    color: #929292;
    font-family: "Noto Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login-button {
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 10px;
    color: #FFF;
    font-family: "noto sans";
    display: flex;
    width: 124px;
    height: 34px;
    padding: 6px 20px 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: none;
    background: linear-gradient(109deg, #CACACA 7.86%, #787373 94.87%);
}.companyForgotpasswordInput input {
    border-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0;
    padding-left: 10px;
    font-family: "Noto Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .companyForgotpasswordInput {
    width: 292px;
    height: 30px;
    border-radius: 20px !important;
  }
  #basic-addonEt {
    height: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none !important;
    background-color: #fff;
  }