.admincount-main {
  display: flex;
  width: 75%;
  align-items: flex-start;
  align-content: flex-start;
  gap: 52px 51px;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 40px;
}
.admincount-block {
  width: 250px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #374151;
  margin-top: 3px;
  margin-left: 8px;
  cursor: pointer;
}
.admincount-block-image {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.admincount-block img {
  margin: 3% 0 0 3%;
}
.admincount-head {
  text-align: center;
}
h3 {
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
p {
  color: #fff;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}
