@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.viewCompany-body {
    width: 100%;
    height: 100vh;
    background-color: #1F2937;
}

.viewcomapany-head-box {
    width: 100%;
    height: 50px;
    background: #374151;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 2%;
}

.viewcomapany-head-box h4 {
    text-align: center;
    color: #FFFFFF;
    padding-top: 8px;
}

.companyrequest-enterpage {
    width: 234px;
    height: 32px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #515151;
    background: #1F2937;
    margin-top: 20px;
    margin-left: 50px;
    color: #ECECEC;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.companyRequest-entries {
    margin-left: 5%;
    margin-top: 3%;
    font-size:15px;

}

.companyRequesest-second-box {
    display: flex;
}

.companyRequet-dropdown {
    border-radius: 0px 15px 15px 0px;
    height: 33.5px;
    width: 63px;
    margin-top: 19px;
    border-color: #1F2937;
    color: #FFF;
    background-color: #515151;
}

.companyRequet-dropdown select {
    color: #FFF;
}

.comapnyRequest-first-box {
    display: flex;
    margin-top: 20px;
}

.companyRequest-serchbox {
    width: 90%;
    height: 32px;
    border-radius: 15px;
    border-right-color: #1F2937;
    background: #374151;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 2px solid #515151;
    background-image: url(../assets/images/company-search-icon.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    color: white;
    padding-left: 25px;
    background-image: url(../../../assets/images/company-search-icon.svg);

}

.companyRequest-serchbox::placeholder {
    color: #FFF;
    position: relative;
    left: 10px;
    
}

.comapanyRequest-search-box {
    margin-left: 38%;
    margin-top: 1.3%;
    width: 40%;
}


.viewCompany-table {
    width: 92%;
    height: 70%;
    background-color: #374151;
    margin-left: 4%;
    font-family: Inter;
}

.viewCompany-table table {
    width: 87%;
    border: 8px solid #1F2937;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 20px;
}

.viewCompany-table th {
    color: white;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 1.5%;
    text-align: center;
}

.viewCompany-table td {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.viewComapny-viewmore {
    color: blue;
    text-decoration: underline;
}

.viewCompancy-head-row {
    border: 8px solid #1F2937;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 60px;
}
